.menu {
  background-color: rgba(0, 0, 0, 0.4);
  width: clamp(300px, 30vw, 400px);
  height: 100%;

  .container {
    padding: 5px;

    .title {
      border-bottom: 1px solid #ccc;
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .title {
        border: none;
      }

      .addNewItem {
        width: 25px;
        cursor: pointer;
      }
    }

    .actionContainer {
      margin: 10px 0;
      background-color: white;
      display: flex;
      height: 60px;
      border-radius: 20px;
      align-items: center;
      justify-content: space-between;

      .input {
        height: 60%;
        width: 100%;
        min-width: 100px;
        margin: 0 10px;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: 500;

        &:focus {
           box-shadow: 0 2px 0 0px #000000;
        }
      }

      .btn {
        min-width: 80px;
        background-color: black;
        color: white;
        height: 100%;
        border-radius: 18px;
        width: 20%;
        cursor: pointer;
        font-weight: bolder;
        border-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in 0.2s;

        &:hover {
          background-color: #d86d08;
          color: black;
          font-size: 1em;
        }
      }
    }
  }
}
