.container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .inputContainer {
    font-weight: bolder;
    font-size: larger;
    display: flex;
    width: 100%;
    background-color: white;
    max-width: 700px;
    border-radius: 20px;
    padding: 0px;
    height: 80px;
    align-items: center;
    justify-content: space-between;

    .label {
      color: black;
      text-align: center;
      flex: 1;
      width: 100%;
    }

    .input {
      display: none;
    }

    .customLabel {
      background-color: black;
      color: white;
      height: 100%;
      border-radius: 18px;
      width: 20%;
      cursor: pointer;
      font-weight: bold;
      border-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease-in 0.2s;

      &:hover {
        background-color: #d86d08;
        color: black;
        font-size: 1em;
      }
    }
  }

  .fun {
    max-width: 300px;
    width: 40%;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    
    .block {
      height: 100%;
      width: 10vh;
      margin: 5px;
      background-color: white;
      border-radius: 10px;
    }
  }
}
