@use 'variables' as *;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: white;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

  * {
    margin: 0;
  }
}

.container {
  background-color: $background-color;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
